<form action="/" method="POST">
    <label>Template nucleotide:</label>
    <input name="templateNucleotide" type="text" value="n/a"/>
    <label>Coding nucleotide:</label>
    <input name="codingNucleotide" type="text" value="n/a"/>
    
    <button type="submit">Add data point</button>
</form>