<div>
    <ul>
        <% for (const [index, dataPoint] of dataPoints.entries()) { %>
            <li> 
                <a href="/<%= dataPoint._id %>">
                    <%= dataPoint.templateNucleotide %>:<%= dataPoint.codingNucleotide %>
                </a>
            </li>
        <% } %>
    </ul>
</div>