<div>
    <ul>
        <% for (const [index, dataPoint] of dataPoints.entries()) { %>
            <li> 
                <a href="/<%= dataPoint._id %>">
                    <%= dataPoint.nucleotidePosition %>. 
                    <%= dataPoint.templateNucleotide %>:<%= dataPoint.codingNucleotide %>
                    <% if(dataPoint.nucleotideMatch === true) { %>
                        - Match
                    <% } else { %>
                        - Mismatch
                    <% } %>
                </a>
            </li>
        <% } %>
    </ul>
</div>