<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/lollipop3dchart.js"></script> <!-- DNA render logic -->
    <script defer src="/frontendbehavior.js"></script> <!-- Data validation logic -->
    <script src="https://aframe.io/releases/1.7.0/aframe.min.js"></script> <!-- A-frame -->
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- To stop looking for favicon.ico; supposedly this looks for the icon in a non-existent place; seems to work; from: https://www.google.com/search?q=how+to+stop+favicon+request&client=firefox-b-1-d&sca_esv=ef29957d23e94eec&sxsrf=AE3TifOy4Q1hn-gerRlaRC4bovzImhe3ug%3A1761757697584&ei=AUoCaZq9I8D6kPIPp62fgQo&ved=0ahUKEwjawfrt8smQAxVAPUQIHafWJ6AQ4dUDCBE&uact=5&oq=how+to+stop+favicon+request&gs_lp=Egxnd3Mtd2l6LXNlcnAiG2hvdyB0byBzdG9wIGZhdmljb24gcmVxdWVzdDIGEAAYFhgeMgYQABgWGB4yCxAAGIAEGIYDGIoFMgUQABjvBTIIEAAYogQYiQUyBRAAGO8FMggQABiABBiiBEi_RVD6DVjNRHAJeAGQAQCYAYEBoAGuDaoBBDE2LjS4AQPIAQD4AQGYAhygAs0NwgIKEAAYsAMY1gQYR8ICDRAAGIAEGLADGEMYigXCAgYQABgHGB7CAggQABgHGAgYHsICBRAAGIAEwgIHEAAYgAQYDcICChAhGKABGMMEGArCAgQQIRgKmAMAiAYBkAYKkgcEMjQuNKAHiGqyBwQxNS40uAemDcIHBzAuMTcuMTHIB0A&sclient=gws-wiz-serp -->
    <title>DNA viewer</title>
</head>
<body>
    <h1>DNA viewer</h1>